<div class="text-center">
  <h1 class="font-semibold text-2xl">Parabéns! Sua conta foi criada com sucesso!</h1>
  <div class="max-w-lg m-auto">
    <h2 class="mt-2 text-xl">Ao ler os QR Codes que seu professor disponibilizar, use o e-mail recém cadastrado para validar sua presença.</h2>
  </div>
</div>
